.contact-box {
    display: flex !important;
    height: 100px !important;
}

.contact-box-header {
    display: flex !important;
    flex-direction: row !important;
    outline: #0B63A2 solid 1px !important;
    border-radius: 5px !important;
}

.centerBox {
    margin: auto !important;
    padding: 0 1em !important;
}


.icon-color {
    color: darkorange !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.block1 {
    margin-right: 5em !important;
    height: 100% !important;
}

.link:hover {
    text-decoration: none !important;
}

.block2 {
    height: 100% !important;
}